*
{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    gap: 20px;
}
body
{
    background-color: antiquewhite;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}
header
{
    background-color: aqua;
    padding: 10px;
    width: 100%;
}
main
{
    background-color: aquamarine;
    justify-content: center;
    border: 15px ridge;
    flex-wrap: wrap;
    display: flex;
    padding: 10px;
    width: 75%;
    gap: 10px;
}
.container
{
    word-wrap: break-word;
    border-radius: 10px;
    box-shadow: 3px 3px;
    border: 5px ridge;
}
#input_data
{
    width: 30%;
}
#input_data, input, select
{
    flex-direction: column;
    font-size: 30px;
    margin-top: 20px;
    height: 50%;
    gap: 20px;
}
button
{
    border-radius: 0 80px 0 80px;
    font-size: 1.3rem;
    width: 75%;
    
}
